bibliografia.bib
informe.aux
informe.bbl
informe.bcf
informe.blg
informe.dvi
informe.log
informe.run.xml
informe.synctex.gz
informe.tex
informe.toc

informe.out

.ipynb_checkpoints/01-representacion-checkpoint.ipynb
.ipynb_checkpoints/02-filtracion-checkpoint.ipynb

